*{
    margin: 0;
    padding: 0;
}

@keyframes fadeIn { /*animetion-nameで設定した値を書く*/

    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
}


.Header {
    background: #000;
    margin: 0;
}

.Header img {
    width: 10%;
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}



.Capture1 {
    position: relative;
    background: #000;
}
  
.Capture1 p1 {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2em;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.Capture1 p2 {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
  
.Capture1 img {
    width: 100%;
    display: block;
    opacity: .6;
}